@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background-color: #f593de;
    margin: 0;
    
}

/* .koko{
    animation-name: pika;
    animation-duration: 40s;
    animation-delay: 0s;

}
@keyframes pika{
    from{
        background-color: #f2a5e8;
        }    
    to{
        background-color: gainsboro;
        }
} */

* {
    font-family: 'Roboto', sans-serif;
}

.section {
    padding: 0 2rem;
    color: #232627;
}
.sectionc {
    padding: 0 5rem;
    color: #232627; 
}
#section1 {
    display: flex;
    flex-direction: row;

}
.aboutme{
    height: 100%;
    width: 75%;
}


.tokyo {
    margin: 2rem;
    background: #232627;
    height: 18rem;
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.tokyo .image-container {
    max-height: 100%;
}

.tokyo img {
    max-height: 100%;
    max-width: 100%;
}

.tokyo .manji {
    color: #f593de;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    display: flex;
    gap: 1rem;
}

a {
   color: aqua;
}
nav .current{
    color: #da3c43;
}

.rung{
    color: black;
}

@media only screen and (max-width: 1200px) {
    .tokyo {
        margin: 0;
        padding: 2rem;
        flex-direction: column;
        height: auto;
        gap: 0.5rem;
    }

    .tokyo img {
        width: auto;
        height: auto;
        margin: auto;
        margin-left: auto;
        margin-right: auto;
    }
    
    .tokyo .image-container {
        width: 100%;
        height: 100%;
    }
    .tokyo .manji {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .tokyo .manji h1{
        text-align: center ;
        font-size: 1.5em;
    }

    nav {
        justify-content: center;
        gap: 0.5em;
        flex-wrap: wrap;
    }

    #section1 {
        flex-direction: column;
    }
    .aboutme {
        width: 100%;
    }
}
